<!DOCTYPE html>
<html>
    <!--
  * Please see the included README.md file for license terms and conditions.
  -->

    <head>
        <link rel="stylesheet" type="text/css" href="jqm/jquery.mobile-min.css">
        <meta charset="UTF-8">
        <title>Blank App Designer Packaged Web App Project Template</title>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8">

        <!--
  * The "meta viewport" tag (below) helps your app size appropriately to a device's ideal viewport.
  * Note that Windows device viewports work better when initialized using the @viewport CSS rule.
  * For a quick overview of "meta viewport" and @viewport, see this article:
  *   http://webdesign.tutsplus.com/tutorials/htmlcss-tutorials/quick-tip-dont-forget-the-viewport-meta-tag
  * To see how it works, try your app on a real device with and without a "meta viewport" tag.
  * Additional useful references include:
  *   http://www.quirksmode.org/mobile/viewports.html
  *   http://www.quirksmode.org/mobile/metaviewport/devices.html
  *   https://developer.apple.com/library/safari/documentation/AppleApplications/Reference/SafariHTMLRef/Articles/MetaTags.html
-->

        <!-- <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1"> -->
        <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=no">
        <!-- <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes, minimum-scale=1, maximum-scale=2"> -->

        <style>
            /* following three (cascaded) are equivalent to above three meta viewport statements */
            /* see http://www.quirksmode.org/blog/archives/2014/05/html5_dev_conf.html */
            /* see http://dev.w3.org/csswg/css-device-adapt/ */
                @-ms-viewport { width: 100vw ; min-zoom: 100% ; zoom: 100% ; }          @viewport { width: 100vw ; min-zoom: 100% zoom: 100% ; }
                @-ms-viewport { user-zoom: fixed ; min-zoom: 100% ; }                   @viewport { user-zoom: fixed ; min-zoom: 100% ; }
                /*@-ms-viewport { user-zoom: zoom ; min-zoom: 100% ; max-zoom: 200% ; }   @viewport { user-zoom: zoom ; min-zoom: 100% ; max-zoom: 200% ; }*/
        </style>

        <link rel="stylesheet" href="css/app.css">
        <link rel="stylesheet" type="text/css" href="css/index_main.less.css" class="main-less">

        <!-- IMPORTANT: Do not include a weinre script tag as part of your release builds! -->
        <!-- Place your remote debugging (weinre) script URL from the Test tab here, if it does not work below -->
        <!-- <script src="http://debug-software.intel.com/target/target-script-min.js#insertabiglongfunkynumberfromthexdkstesttab"></script> -->

        <!-- Recommended location for your JavaScript libraries -->
        <!-- These library references (below) are just examples to give you the general idea... -->
        <!-- <script src="lib/mc/hammer.js"></script> -->
        <!-- <script src="lib/ft/fastclick.js"></script> -->

        <!--
  * cordova.js is a phantom lib for "Cordova HTML5 web app," it does nothing in a "Standard HTML5 web app"
  * Seeing a "Failed to load resource: net::ERR_FILE_NOT_FOUND" message caused by this "cordova.js" script?
  * The cordova.js script is required if you convert your "Standard HTML5" project into a "Cordova" project.
  * You can safely ignore the error or comment out this line if you will not be developing a Cordova app.
-->
        <script src="cordova.js" id="xdkJScordova_"></script>

        <script src="js/app.js"></script>
        <!-- for your event code, see README and file comments for details -->
        <script src="js/init-app.js"></script>
        <!-- for your init code, see README and file comments for details -->
        <script src="xdk/init-dev.js"></script>
        <!-- normalizes device and document ready events, see file for details -->
        <script type="application/javascript" src="lib/jquery.min.js"></script>
        <script type="application/javascript" src="jqm/jquery.mobile-min.js" data-ver="0"></script>
        <script type="application/javascript" src="lib/angular.min.js"></script>
        <script type="application/javascript" src="xdk/ad/angular_support.js"></script>
        <script type="application/javascript" src="xdk/ad/jquery.ba-throttle-debounce.min.js"></script>
        <script type="application/javascript" src="xhr.js"></script>
        <script type="application/javascript" src="xdk/services/service-credentials.js"></script>
        <script type="application/javascript" src="xdk/services/service-methods.js"></script>
        <script type="application/javascript" src="xdk/ad/ad_events_data.js"></script>
        <script type="application/javascript" src="js/index_init_services.js"></script>
        <script type="application/javascript" src="xdk/ad/index_setup_services.js"></script>
        <script type="application/javascript" src="xdk/ad/jqm_events_data.js"></script>
        <script type="application/javascript" src="js/index_user_scripts.js"></script>
    </head>

    <body ng-app="myApp">

        <!-- IMPORTANT: Do not include a weinre script tag as part of your release builds! -->
        <!-- Place your remote debugging (weinre) script URL from the Test tab here, if it does not work above -->
        <!-- <script src="http://debug-software.intel.com/target/target-script-min.js#insertabiglongfunkynumberfromthexdkstesttab"></script> -->
        <div class="upage ui-page-theme-b" id="mainpage" data-role="page">
            <div class="upage-outer">
                <div data-role="header" class="container-group inner-element uib_w_1" data-uib="jquery_mobile/header" data-ver="0">
                    <h1>Magazine</h1>
                    <div class="widget-container wrapping-col single-centered"></div>
                    <div class="widget-container content-area horiz-area wrapping-col left"></div>
                    <div class="widget-container content-area horiz-area wrapping-col right"></div>
                </div>
                <div class="upage-content ac0 vertical-col">
                    <div class="upage-outer">

                    </div>
                    <div class="widget uib_w_2 ui-content no_wrap outset-margin d-margins" data-uib="jquery_mobile/listview" data-ver="0">
                        <ul data-role="listview" ng-controller="angular_controllers.uib_w_3.controller">
                            <li class="widget uib_w_3" data-uib="jquery_mobile/listitem" data-ver="0" data-sm="parsearticles" data-rpath=".results[]" data-sc="multiple" ng-repeat="entry in entries" ng-click="select_entry($event, entry)" data-adidx="{{$index}}">
                                <a href="#uib_page_1" data-transition="fade">
                                    <img src="{{entry.pic.url}}">
                                    <h2>{{entry.Title}}</h2>
                                    <p>{{entry.Teaser}}</p>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="upage ui-page-theme-b" id="uib_page_1" data-role="page">
            <div class="upage-outer">
                <div data-role="header" class="container-group inner-element uib_w_6" data-uib="jquery_mobile/header" data-ver="0">
                    <h1>Magazine</h1>
                    <div class="widget-container wrapping-col single-centered"></div>
                    <div class="widget-container content-area horiz-area wrapping-col left"></div>
                    <div class="widget-container content-area horiz-area wrapping-col right"></div>
                </div>
                <div class="upage-content ac0 content-area vertical-col left">
                    <div class="widget uib_w_7 widget-container content-area vertical-col uib-card d-margins section-dimension-7 cpad-1" data-uib="layout/card" data-ver="0" data-sm="-- .uib_w_3" data-sc="single" data-rpath="(base)" ng-controller="angular_controllers.uib_w_7.controller">
                        <div class="widget uib_w_9 d-margins" data-uib="media/text" data-ver="0">
                            <div class="widget-container left-receptacle"></div>
                            <div class="widget-container right-receptacle"></div>
                            <div>
                                <p>{{entry.Article}}</p>
                            </div>
                        </div>
                        <section class="card-header widget-container content-area vertical-col">
                            <div class="widget uib_w_8 scale-image d-margins" data-uib="media/img" data-ver="0">
                                <figure class="figure-align">
                                    <img src="{{entry.pic.url}}">
                                    <figcaption data-position="bottom"></figcaption>
                                </figure>
                            </div>
                        </section>
                    </div><a class="widget uib_w_10 d-margins" data-uib="jquery_mobile/button" data-ver="0" data-role="button" href="#mainpage" data-transition="fade">Go Back</a>
                </div>
            </div>
        </div>
    </body>

</html>